@model DataInfoViewModel
@{
    ViewData["Title"] = "Home Page";
}

@*<form asp-controller="Excel" asp-action="ImportExcel">
    <input asp-for="dataInfo" />
    <input asp-for="Id" />
    <button type="submit">Save</button>
</form>*@

@*<div class="text-center">
    <h1 class="display-4">Import Excel</h1>

    <form enctype="multipart/form-data" action="/run/powershell" method="post">
        <input type="file" name="file" />
        <button type="submit" class="btn btn-primary">Run the Powershell Code</button>
    </form>

</div>*@